.App {
  position:absolute;
  z-index: -1; /* Important */
  text-align: center;
  left: 25%;
  top: 20%;
  width: 50%;
  height: 50%;
  background-color:white;
  border-radius: 10px;
  /* filter: blur(0px); */
  
}

/* the below class is for dropdown div  */
.dropDown{
 margin-left: 25%;
 margin-top: 20%;
  width: 50%;
  /* height: 60px; */
  border: 1px solid black;
  overflow: hidden;
}
/* .dropDown:hover{
  height: auto;
} */
.listItems{
  margin: 0;
  padding: 10px;
  
}
.listItems:hover{
  background-color: lightgoldenrodyellow;
  cursor: pointer;

}


